@mixin letra($letter-space, $fsz, $fwei, $bb) {
    letter-spacing: $letter-space;
    font-size: $fsz;
    font-weight: $fwei;
    margin: 10px 25%;
    border-bottom: $bb solid rgba(20, 20, 20, 0.541);
}

.contenedor-info-general {
    width: 70%;
    background: #f4f6ff;
    font-family: "Roboto", sans-serif;
    height: 100%;

    header {
        padding: 25px 0;
        background: #e0dede;
        .logo {
            letter-spacing: 6px;
            text-align: center;
            p {
                display: inline;
                font-size: 80px;
                font-weight: 400;
            }
        }

        .cabecera {
            text-align: center;
            .nombre {
                @include letra(10px, 45px, 600, 1px);
            }

            .oficio {
                @include letra(3px, 22px, 300, 0px);
            }
        }
    }

    .main {
        .experiencia {
            padding: 30px 0;
        }
    }
    .main,
    footer {
        padding: 10px 40px;
        .linea {
            border-bottom: 2px solid rgb(49, 49, 49);
        }
        .titulo-2 {
            font-size: 24px;
            padding-bottom: 15px;
        }
        .texto {
            font-style: italic;
            font-weight: 600;
            color: #0b2f50;
        }
        .informacion {
            text-align: justify;
            font-size: 20px;
            line-height: 30px;
        }
    }

    footer {
        .referencias {
            padding: 25px 0;
            display: flex;
            flex-wrap: wrap;
            // margin-left: -30px;
        }
        .referencia {
            width: 50%;
            // padding: 0 25px;
            padding-right: 30px;
        }
    }
}
