@import "aside";
@import "main";

@mixin estilo-titulos($font-sz, $font-wgt, $margin) {
    font-size: $font-sz;
    font-weight: $font-wgt;
    margin-bottom: $margin;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    .contenedor-general {
        background: #f4f6ff;
        width: 90%;
        margin: 20px auto;
        height: 100%;
        display: flex;
        box-shadow: 1px 1px 16px -3px rgba(0, 0, 0, 1);
    }

    .titulo-1 {
        @include estilo-titulos(38px, 500, 20px);
        .linea {
            border-bottom: 2px solid rgb(212, 212, 212);
        }
    }
    .titulo-2 {
        @include estilo-titulos(19px, 700, 2.5px);
    }
}

@media only screen and (max-width: 900px) {
    .titulo-1 {
        font-size: 33px;
    }
}
@media only screen and (max-width: 800px) {
    .contenedor-general {
        display: flex;
        flex-direction: column;
        .titulo-1 {
            font-size: 34px;
        }
        .contenedor-usuario {
            width: 100%;

            .foto{
                img{
                    width: 240px;
                }
            }
        }

        .contenedor-info-general {
            width: 100%;

            footer {
                .referencias {
                    flex-direction: row;
                    .referencia {
                        padding: 0;
                        width: 100%;
                        padding-bottom: 25px;
                    }
                }
            }
        }
    }
}
